.grand-gradient{
    background: #10C2CF;
    background: linear-gradient(to top, #10C2CF 0%, #98CF17 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.banner-holder, .main-page-header{
    background-image: url(img/pexels-apasaric-3402955.jpg);
    background-size:cover;
    background-position: bottom;
}
.custom-nav{
    backdrop-filter: blur(8px);
}